@import "tailwindcss";



:root {
    --color1: #F8F9FA;
    --color2: #1A1A1A;
    --color3: #E3F0FF;
    --color4: #A5CCFF;
    --accent:#4A90E2;
}




* {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
    
}

body {
    font-size: 1rem;
    color: var(--color2);
    
    
}

.bg-custom {
    background-color: var(--color1);
}

@font-face {
    font-family: 'Nunito';
    src: url('/font/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoBold';
    src: url('/font/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Angelina';
    src: url('/font/angelina.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: 'NunitoBold', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem; 

}
h1::before {
    content: "";
    display: absolute;
    width: 20%;
    height: 2px;
    top: 20px;
    background-color: var(--color3);
    margin: 1.5rem 2rem;
}
h1::after {
    content: "";
    display: absolute;
    width: 20%;
    height: 2px;
    top: 20px;
    background-color: var(--color3);
    margin: 1.5rem 2rem;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: var(--color3);
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

h5 {
    font-weight: bold;
    text-transform: uppercase;
}




section {
    margin: 5rem 0;
}






