

#navbar {
}

.logo {
    display: flex;
    align-items: center;
    color: var(--color3);
    font-size: 2rem;
}

.logo a {
    text-decoration: none;
    color: var(--color2);
    font-family: "Angelina", sans-serif;
}


.block {
    color: var(--color2);
    text-decoration: none;
}

.block:hover {
    font-weight: bold;
    color: var(--accent);
}

.container {
    color: var(--color2);
    padding: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    
}


@media (max-width: 768px) {
  .header {
    margin-top: 15rem;
  }
}

@media (max-width: 320px) {
  .header {
    margin-top: 18rem;
  }
}