

#navbar {
    /* box-shadow: 0 4px 4px #0000002e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: height 0.3s ease;
     */
}

.logo {
    display: flex;
    align-items: center;
    color: var(--color3);
    font-size: 2rem;
}

.logo a {
    text-decoration: none;
    color: var(--color2);
    font-family: "Angelina", sans-serif;
}


.block {
    color: var(--color2);
    text-decoration: none;
}

.block:hover {
    font-weight: bold;
    color: var(--accent);
}

.container {
    color: var(--color2);
    padding: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .header {
    margin-top: 15rem;
  }
}

@media (max-width: 320px) {
  .header {
    margin-top: 18rem;
  }
}