#typed-output {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Angelina', sans-serif;
    color: var(--color2);
    font-size: 24px;
    height: 100px;
}
.typed-cursor {
    display: none;
  }

#hero-area {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    margin: 0 4rem;
}


.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-content a {
    margin-bottom: 2rem;
}

.job {
    text-transform: uppercase;
}


#hero-area p {
    text-align: center;
    line-height: 2;
    color: var(--color2);
    font-size: 1.5rem;
}

#hero-area .title-hero {
    text-align: center;
    font-size: 3.5rem;
    color: var(--color4);
    font-family: "Angelina", sans-serif;
    font-weight: bold;
}

.img-hero {
   margin-top: 10rem;
}

/*Media Queries*/






@media (max-width:1024px) {
    #hero-area {
        grid-template-columns: 100%;
        background-image: url('/img/hero-img.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;     
    }
    .img-hero {
    display: none;
  }
}

@media (max-width: 425px) {
    #hero-area {
        padding-top: 5rem;
        background-position: center; 

    }
}