:root {
  --overlay-transition: 300ms;
}

.overlay-projet {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:  9999;

  opacity: 0;
  transform: scale(0.98); 
  pointer-events: none; 

  transition: 
    opacity var(--overlay-transition) ease, 
    transform var(--overlay-transition) ease,
}

.overlay-projet.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color4);
  padding: 2rem;
  border-radius: 10px;
  max-width: 100vh;
  max-height: 100vh;
  overflow-y: auto;  
  position: relative;
  transform: translateY(0);
  transition: transform var(--overlay-transition) ease; 
}

.overlay-projet.show .content {
  transform: translateY(0);
}
.overlay-projet .content {
  transform: translateY(8px); 
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
